<div class="row">
    <div class="col-3">
        <section class="header" role="banner">
            <h1 class="logo">
                <a href="#">Shopping <span>Site</span></a>
            </h1>
            <div class="nav-wrap">
                <nav class="main-nav" role="navigation">
                    <ul class="unstyled list-hover-slide">
                        <li><a routerLink="category">Category</a></li>
                        <li><a href="#">SubCategory</a></li>
                        <li><a href="#">Product</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>